<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">DigiSkills</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="/courses">Browse</a></li>
      <% if (!user) { %>
        <li><a href="/login">Login</a></li>
        <% } else { %>
          <% if (user.role === "teacher") { %>
            <li>
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                Instructor
              </a>

              <ul class="dropdown-menu">
                <li><a href="/teacher/dashboard">Instructor's Dashboard</a></li>
                <li><a href="/revenue-report">Revenue Report</a></li>
              </ul>


            </li>

            <% } else { %>

              <% } %>
          <li><a href="/become-an-instructor">Become an Instructor</a></li>
        <li><a href="/profile"><%= user.profile.name %></a></li>
        <li><a href="/logout">Logout</a></li>
          <% } %>

    </ul>

  </div>
</nav>
