<% layout ('boilerplate') %>

<div class="jumbotron">
    <div class="container">

      <div class="row">
        <div class="col-lg-6 col-md-offset3-">
          <form action="/payment" method="POST">
            <input type="hidden" name="courseId" value='<%= course._id %>' />
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key= "pk_test_4d4BncQFx1UVmBY3OAqmf7bD"
              data-amount= "<%= course.price %>"
              data-name= "Stripe.com"
              data-description="Widget"
              data-image= ""
              data-locale="auto">

            </script>
          </form>
        </div>
      </div>

    </div>
  </div>

<div class="container">
  <div class="row">

    <div class="col-lg-7">
      <h1>Desciption</h1>
      <%= course.desc %>
    </div>

    <div class="col-lg-5">
      <h1>Enrolled Students</h1>
      <div class="penal panel-default">
        <div class="penel-heading">
          Students
        </div>
        <div class="panel-body">
          <% if (course.ownByStudent.length === 0) { %>
            <p>0</p>
            <% } else { %>
              <% for( var i = 0; i < course.ownByStudent.length; i++) { %>
                <div class="col-xs-2">
                  <img src="<%= course.ownByStudent[i].user.profile.picture %>" />
                </div>
                  <% } %>
                <% } %>
        </div>

      </div>
    </div>

  </div>
</div>
