<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/navbar %>

      <%- body -%>
      <hr>

      <% include ./partials/footer %>
    </div> <!-- /container -->
      <% include ./partials/javascript %>

  </body>
</html>
