.bg {
  /*background: url("https://www.pexels.com/photo/apple-iphone-desk-office-425/") no-repeat center center;*/
  position: fixed;
  width: 100%;
  height: 350px;
  top: 0;
  left: 0;
  z-index: -1;
}
